.main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
   
  
}
body {
    background-color: #222255;
}
.main img{
    margin: 10px;
    
}
    .main img{
        width: 100px;
        
    } 
   p{
        color: red;
        position: absolute;
        left: 1vmax;
        bottom: 1vmax;
   }
   
h1{
    text-align: center;
}
